# Ignore zip files in data folder
data/*.zip
# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/
notebooks/


data/DevanagariHandwrittenDigitDataset/
data/hindi_mnist.csv


# VS Code
.vscode/

# Obsidian
.obsidian/

# OS
.DS_Store
Thumbs.db

# Others
*.log
*.tmp

# Generated images and checkpoints
Images
images/
checkpoints/

# Experiments folder - ignore all generated outputs
experiments/

